@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.socialIcon {
  color: rgb(0, 0, 0, .0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80px;
  align-items: center;
  font-style: italic;
  transition: all .4s ease;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

.socialIcon:hover {
  color: black;
}

.allIcons {
  display: flex;
  justify-content: center;
}

.container h4 {
  margin-top: 0;
  margin-bottom: 12px;
}

.container p {
  font-style: italic;
}

.headerImg {
  margin: 2em;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.headerImg p{
  font-style: italic;
}

.profilePicture {
  border-radius: 10px;
}

.paragraph {
  margin: 10px auto 30px auto;
  padding: 10px;
  max-width: 500px;
}

.resumeButton {
  background-color: #009999;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 7px 7px 0px 0px #ff9999;
  transition: .4s ease;
  margin: 20px auto;
}

.resumeButton:hover {
  box-shadow: 3px 3px 0px 0px #ff9999;
}

.projectCard {
  max-width: 600px;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
}

.projectCard hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em auto;
  padding: 0;
  width: 200px;
}

.projectCard h3 {
  margin-top: 0;
}

.iconfooter {
  margin: 200px auto;
}

.iconFooter hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em auto 0;
  padding: 0;
  width: 200px;
}

.footerIcons {
  padding: 10px;
  display: flex;
  justify-content: center;
}

@media (hover: none) {
  .socialIcon {
    color: rgb(0,0,0,1);
  }
}